{% extends 'base.html' %}

{% block content %}
<div class="welcome-container">
    <h1>Welcome to Shakeel Recipe House</h1>
    <p>Explore our delicious recipes or add your own!</p>
</div>

<div class="featured-recipes">
    <h2>Popular Recipes</h2>
    <div class="home-recipe-grid">
        <div class="home-recipe-item">
            <img src="https://images.pexels.com/photos/1624487/pexels-photo-1624487.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Biryani">
            <p>Biryani</p>
        </div>
        <div class="home-recipe-item">
            <img src="https://images.pexels.com/photos/2983101/pexels-photo-2983101.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Burger">
            <p>Burger</p>
        </div>
        <div class="home-recipe-item">
            <img src="https://images.pexels.com/photos/2474661/pexels-photo-2474661.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Nihari">
            <p>Nihari</p>
        </div>
        <div class="home-recipe-item">
            <img src="https://images.pexels.com/photos/1146760/pexels-photo-1146760.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Pizza">
            <p>Pizza</p>
        </div>
        <div class="home-recipe-item">
            <img src="https://images.pexels.com/photos/2474658/pexels-photo-2474658.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Karahi">
            <p>Karahi</p>
        </div>
        <div class="home-recipe-item">
            <img src="https://images.pexels.com/photos/2271110/pexels-photo-2271110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Fries">
            <p>Fries</p>
        </div>
    </div>
</div>
{% endblock %}