{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Student List</h1>
    {% if students %}
        <div class="row">
        {% for student in students %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if student.image %}
                        <img src="{{ student.image.url }}" class="card-img-top" alt="{{ student.name }}">
                    {% else %}
                        <img src="{% static 'images/default_profile.png' %}" class="card-img-top" alt="Default Profile">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ student.name }}</h5>
                        <p class="card-text">Roll Number: {{ student.roll_number }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No students found.</p>
    {% endif %}
</div>
{% endblock %}